:root{
  --color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20; 
	--footer-gradient-background: #211f20;
}

@font-face {
  font-family: 'Georgia', sans-serif;
  src: url('fonts/georgia/georgia-regular.ttf');

  font-family: 'Arial', sans-serif;
  src: url('fonts/arial/arial-regular.ttf');
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-width: 320px;
}
body {
  margin: 0 auto;
}
h1 {
  margin: 0;
  font-weight: 400;
  font-family: 'Georgia';
  font-size: 44px;
  color: #FFFFFF;
  line-height: 130%;
}
h2{
  margin: 0;
  font-weight: 400;
  font-family: 'Georgia';
  font-size: 44px;
  color: #FFFFFF;
  line-height: 130%;
}
h3{
  margin: 0;
  font-weight: 400;
  font-size: 35px;
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  line-height: 130%;
}
h4{
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  line-height: 115%;
}
h5{
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  line-height: 110%;
}
.p-l{
  margin: 0;
  line-height: 160%;
  font-size: 15px;
  font-family: 'Arial';
}
.p-s{
  margin: 0;
}
p{
  margin: 0;
}
a {
  cursor: pointer;
}
button{
  cursor: pointer;
  transition: background-color 0.2s;
}
button:hover{
  cursor: pointer;
  background-color: var(--color-primary-light);
  border: none;
}

.header{
  width: 100%;
  height: 90px;
  margin-top: 30px;
  position: absolute;
}
.header-wrap{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-hamburger-button{
  width: 42px;
  display: none;
  margin-top: -8px;
  margin-right: 14px;
  color: none;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  transition: background-color 0.2s;
  z-index: 10;
}
.hamburger-icon{
  width: 30px;
  transform: rotate(0deg);
  transition: transform 0.75s;
}
.hamburger-line{
  width: 30px;
  content: "";
  margin-top: 8px;
  border-top: 2px solid var(--color-primary);
}
.header-hamburger-button:hover{
  background-color: rgba(13, 13, 13, 0.4);
}
.header-hamburger-img{
  display: none;
}
.header-title{
  text-align: left;
  align-items: center;
  margin-left: 40px;
}
.header-main-title{
  color: var(--color-primary);
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 0.06em;
}
.header-subtitle{
  font-family: 'Arial';
  color: var(--color-light-xl);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 1px;
  -webkit-text-stroke: 0.7px #000;
}
.blur{
  display: none;
  position: fixed;
  margin-top: -30px;
  width: 100vw;
  height: 100vh;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  z-index: 1;
}

.header-links{
  display: flex;
  z-index: 5;
  margin-right: 40px;
  gap: 36px;
  align-items: center;
}
.header-link{
  text-decoration: none;
  cursor: pointer;
  color: var(--color-dark-s);
  line-height: 160%;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Arial';
  transition: color 0.2s;
  margin-bottom: 5px;
}
.header-link:hover{
  color: var(--color-light-s);
}
#active-link{
  cursor: default;
  color: var(--color-light-s);
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
}

.not-only{
  width: 100%;
  background: 
        url(imgs/noise_transparent@2x.svg),
        radial-gradient(100% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%),
        rgba(33, 31, 32, 0.5);
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: 6%, cover;
  padding-top: 180px;
  height: 728px;
}
.wrap{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.not-only-content{
  width: calc(100% - 80px);
  height: 728px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.not-only-inner-content{
  width: 460px;
  height: 322px;
  margin-top: 163px;
}
.not-only-title{
  width: 310px;
  color: var(--color-light-xl);
}
.not-only-subtitle{
  margin-top: 42px;
  color: var(--color-dark-s);
}
.not-only-button{
  border-radius: 100px;
  border: none;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: var(--color-dark-3xl);
  font-size: 17px;
  font-family: Georgia;
  letter-spacing: 0.06em;
  line-height: 1.3;
  background-color: var(--color-primary);
  margin-top: 42px;
}
.not-only-puppy{
  margin-left: 0px;
}

.about{
  background-color: var(--color-light-xl);
}
.about-content{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 80px;
  margin-bottom: 100px;

  width: calc(100% - 80px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 120px;
}
.about-pets{
  display: block;
  margin: 0 auto;
  margin-left: 175px;
}
.about-inner-content{
  height: 380px;
  width: 430px;
  margin-right: 175px;  
  order: 1;
}
.about-heading{
  margin-top: 14px;
  margin-right: 60px;
  color: var(--color-dark-l);
}
.about-subheading{
  margin-top: 25px;
  color: var(--color-dark-xl);
}

.pets{
  background-color: var(--color-light-l);
  padding: 80px 40px 100px 40px;
}
.pets-content{
  width: 100%;
}
.pets-header{
  color: var(--color-dark-l);
  margin: 0 auto;
  text-align: center;
  width: 400px;
}
.pets-slider{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pets-slider-left, .pets-slider-right{
  height: 6px;
  width: 14px;
  padding-bottom: 2px;
}

.pets-card-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  max-width: 100%;
}
.card{
  background-color: var(--color-light-s);
  border-radius: 9px;
  height: 435px;
  margin-left: 45px;
  margin-right: 45px;
  /* transform: translateX(300px); */
  transition: all 1s;
}
.card-hidden{
  display: none;
}
.card:hover{
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: box-shadow 0.2s;
  cursor: pointer;
}
.card:hover .card-button{
  background-color: var(--color-primary-light);
  transition: background-color 0.2s;
}
.pets-slider-left-button{
  border-radius: 100px;
  height: 52px;
  width: 52px;
  margin-right: 8px;
  margin-top: -60px;
  background-color: var(--color-light-l);
  border: var(--color-primary) solid 2px;
} 
.pets-slider-right-button{
  border-radius: 100px;
  height: 52px;
  width: 52px;
  margin-left: 8px;
  margin-top: -60px;
  background-color: var(--color-light-l);
  border: var(--color-primary) solid 2px;
}
.card-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9px 9px 0 0;
  width: 270px;
  height: 270px;
}
.card-text{
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Georgia';
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
  color: var(--color-dark-l);
}
.card-button{
  border-radius: 100px;
  height: 52px;
  width: 187px;
  display: block;
  margin: 0 auto 30px auto;
  background-color: var(--color-light-xl);
  border: 2px solid var(--color-primary);

  color: var(--color-dark-3xl);
  font-size: 17px;
  font-weight: 400;
  font-family: 'Georgia';
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 130%;
}
.pets-main-button{
  border-radius: 100px;
  height: 52px;
  width: 261px;
  display: block;
  margin: 0 auto;
  background-color: var(--color-primary);
  border: none;

  color: var(--color-dark-3xl);
  font-size: 17px;
  font-family: Georgia;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.3;
}
.pets-main-button-link, .header-link, .header-main-title-link, .credit-card-number{
  text-decoration: none;
}

.help{}
.help-content{
  margin: 80px 40px 100px 40px;
}
.help-heading{
  text-align: center;
  color: var(--color-dark-l);
  width: 310px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.list{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 55px;
  column-gap: 120px;
  width: 100%;
}
.list-item{
  height: 113px;
}
.list-img{
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}
.list-text{
  margin-top: 30px;
  color: var(--color-dark-l);
  text-align: center;
}

.donation{
  background-color: var(--color-light-l);
  padding: 80px 182px 100px 183px;
}
.donation-wrap{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.donation-content{
  display: flex;
  height: 282px;
  flex-wrap: wrap;
  justify-content: center;
}
.donation-img{
  height: 261px;
  margin-right: 30px;
  margin-top: 11px;
  margin-bottom: 10px;
}
.donation-inner-content{
  width: 380px;
}
.donation-heading{
  margin-bottom: 20px;
  color: var(--color-dark-l);
}
.donation-subheading{
  margin-bottom: 20px;
  color: var(--color-dark-l);
}
.credit-card-container{
  display: flex;
  margin-bottom: 20px;
  background-color: var(--color-primary);
  border-radius: 9px;
  border: none;
  width: 349px;
  height: 43px;
  align-items: center;
}
.icon-credit-card{
  margin-left: 15px;
  margin-right: 15px;
  width: 30px;
  height: 23px;
}
.credit-card-number{
  color: var(--color-dark-l);
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  line-height: 115%;
  transition: color 0.3s;
}
.credit-card-number:hover{
  color: var(--color-dark-3xl);
}
.donation-info{
  color: var(--color-dark-m);
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  font-family: 'Arial';
  font-style: italic;
  margin-top: 18px;
  margin-bottom: 18px;
}

footer{
  background: 
        url(imgs/noise_transparent@2x.svg),
        radial-gradient(100% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%),
        url(imgs/footer-background.svg);
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: 6%, auto, 100em;
  padding-top: 40px;
}
.footer-wrap{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
}
.footer-contacts{
  width: 280px;
  gap: 40px;
  margin-left: 40px;
} 
.footer-location{
  width: 302px;
  gap: 40px;
  margin-left: 52px;
}
.footer-heading{
  margin-top: 15px;
  margin-bottom: 40px;
  color: var(--color-light-xl);
}
.footer-inner-container{
  margin-top: 40px;
  display: flex;
}
.footer-icon{
  margin-right: 20px;
  height: 32px;
}
.footer-loc-icon{
  margin-top: -8px;
  margin-right: 20px;
  height: 32px;
}
.footer-info{
  color: var(--color-primary);
  margin-top: 5px;
  transition: color 0.2s;
}
.footer-location-info{
  margin-top: -5px;
  color: var(--color-primary);
}
.email-link, .phone-link,.location-link{
  text-decoration: none;
}
.email-link:hover h4, .phone-link:hover h4, .location-link:hover h4{
  color: var(--color-primary-light);
}
.footer-puppy{
  display: block;
  margin-left: auto;
  margin-right: 40px;
}

.popup{
  position: fixed;
  display: none;
  width: 952px;
  height: 552px;
  left: calc(50% + 25px);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}
.popup-button{
  position: fixed;
  top: 0;
  right: 10px;
  border-radius: 100px;
  height: 52px;
  width: 52px;
  background-color: transparent;
  border: var(--color-primary) solid 2px;
}
.popup-button-cross{
  padding-top: 4px;
}
.popup-card{
  position: relative;
  background-color: var(--color-light-xl);
  width: 900px;
  height: 500px;
  top: 52px;
  display: flex;
  border: none;
  border-radius: 9px;
}
.popup-img{
  width: 500px;
  height: 500px;
  border: none;
  border-radius: 9px;
}
.popup-content{
  margin: 50px 20px 88px 29px;
}
.popup-subtitle{
  margin-top: 10px;
  margin-bottom: 40px;
}
.popup-description{
  line-height: 114%;
}
.popup-stat::marker{
  color: var(--color-primary);
}
.popup-stats{
  margin-top: 40px;
}
.popup-stat{
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 12px;
  margin-left: -25px;
}


@media (max-width: 1279px){
  .header-title{
    margin-left: 30px;
  }
  .header-links{
    margin-right: 30px;
  }

  .not-only{
    padding-top: 150px;
    height: 1015px;
  }
  .not-only-inner-content{
    width: calc(100vw - 308px);
    margin: 0 auto;
  }
  .not-only-title{
    width: calc(100vw - 458px);
  }
  .not-only form{
    display: flex;
    justify-content: center;
  }
  .not-only-button{
    margin: 0 auto;
    margin-top: 42px;
  }
  .not-only-puppy{
    width: 569px;
    margin-top: 100px;
    margin-left: calc(100vw - 638px);
  }

  .about-content{
    margin-top: 66px;
  }
  .about-pets{
    margin-top: -25px;
    margin-left: 195px;
  }
  .about-inner-content{
    order: -1;
    width: calc(100vw - 338px);
    margin: 0 auto;
  }

  .pets{
    padding-left: 30px;
    padding-right: 30px;
  }
  .pets-card-container{
    width: 580px;
  }
  .card{
    margin-left: 20px;
    margin-right: 20px;
  }
  .pets-slider-left-button{
    margin-right: 12px;
  }
  .pets-slider-right-button{
    margin-left: 12px;
  }
  .pets-card-container{
    width: calc(100vw - 188px);
  }
  .card{
    min-width: 270px;
    width: 50vw;
  }


  .help-content{
    width: calc(100vw - 138px);
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .list{
    column-gap: 60px;
    justify-content: space-between;
  }
  .list-item{
    width: 170px;
  }

  .donation{
    height: 600px;
  }
  .donation-img{
    order: 1;
    margin-top: 37px;
    margin-left: 25px;
  }
  .donation-inner-content{
    width: calc(100vw - 388px);
  }

  .hidden-768{
    display: none;
  }
  .footer-container{
    grid-template-columns: 1fr 1fr;
  }
  .footer-contacts{
    margin-left: 63px;
    margin-top: -25px;
  } 
  .footer-location{
    margin-left: 20px;
    margin-top: -25px;
  }
  .footer-puppy{
    margin-top: 60px;
    margin-left: 61%;
  }

  .popup{
    width: 682px;
    height: 402px;
    left: calc(50% + 25px);
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
  }
  .popup-card{
    width: 630px;
    height: 350px;
  }
  .popup-img{
    width: 350px;
    height: 350px;
  }
  .popup-content{
    margin: 10px 5px 37px 11px;
  }
  .popup-subtitle{
    margin-bottom: 20px;
  }
  .popup-description{
    font-size: 13px;
    line-height: 110%;
  }
  .popup-stats{
    margin-top: 17px;
  }
  .popup-stat{
    margin-bottom: 7px;
  }

}
@media (max-width: 767px){
  
  .header{
    min-width: 320px;
  }
  .header-title{
    margin-left: 20px;
  }
  .header-hamburger-button{
    display: block;
  }
  .header-hamburger-button:hover{
    display: block;
  }
  .header-hamburger-img{
    display: block;
  }
  .header-links{
    height: 100vh;
    background: var(--color-dark-3xl);
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 320px;
    right: 0;
    margin-top: -30px;
    margin-right: -320px;
    gap: 42px;
    align-items: center;
    padding-top: 248px;
    transition: margin-right 1s;
  }
  .header-link{
    font-family: 'Arial', 'Times New Roman', Times, serif;
    font-weight: 400;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 32px;
    line-height: 160%;
    color: var(--color-dark-s);
  }
  .header-link:hover{
    color: var(--color-light-s);
  }
  #active-link{
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
  }
  .not-only{
    height: 673px;
  }
  .not-only-content{
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100vw - 20px);
    min-width: 300px;
    height: 523px;
  }
  .not-only-inner-content{
    width: 100%;
    height: 673px;
    margin: 0;
  }
  .not-only-title{
    font-size: 25px;
    letter-spacing: 0.06em;
    width: calc(100vw - 120px);
    min-width: 200px;
    margin: 0 auto;
    text-align: center;
  }
  .not-only-subtitle{
    font-size: 15px;
    text-align: center;
  }
  .not-only-puppy{
    margin-top: 0px;
    align-self: flex-end;
    width: 260px;
    margin-left: -262px;
    height: 271.77px;
  }

  .about-content{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 43px;
    width: calc(100vw - 20px);
    min-width: 300px;
    height: 830px;
  }
  .about-inner-content{
    width: 100vw;
    min-width: 300px;
  }
  .about-heading{
    text-align: center;
    font-size: 25px;
    width: calc(100vw - 50px);
    min-width: 270px;
    margin-top: 0px;
    margin-right: 0px;
    margin: 0 auto;
  }
  .about-subheading{
    margin: 0 auto;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: -4px;
    width: calc(100vw - 50px);
    min-width: 270px;
  }
  .about-pets{
    width: 260px;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-left: calc(100% - 280px);
    
  }

  .pets{
    padding: 42px 10px 42px 10px;
  }
  .pets-header{
    width: calc(100vw - 20px);
    min-width: 300px;
    font-size: 25px;
  }
  .pets-card-container{
    order: -5;
    width: calc(100vw - 50px);
    min-width: 270px;
  }
  .card{
    width: calc(100vw - 50px);
    min-width: 270px;
    margin-left: 0;
    margin-right: 0;
  }
  .card-text{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .card-button{
    padding-top: 5px;
  }
  .pets-slider{
    margin-top: 42px;
    flex-wrap: wrap;
  }
  .pets-slider-left-button{
    margin-top: -40px;
    margin-right: 66px;
  }
  .pets-slider-right-button{
    margin-top: -40px;
  }
  .pets-main-button{
    margin-top: 42px;
    padding-top: 5px;
  }

  .help-heading{
    width: calc(100vw - 90px);
    min-width: 230px;
    margin-top: -38px;
    margin-bottom: 40px;
    font-size: 25px;
  }
  .help-content{
    width: calc(100% - 30px);
    min-width: 290px;
    margin-bottom: 42px;
  }
  .list{
    column-gap: 30px;
    row-gap: 30px;
    justify-content: space-between;
  }
  .list-item{
    width: calc(50vw - 30px);
    min-width: 130px;
    height: 87px;
  }
  .list-img{
    width: 50px;
    margin-top: -5px;
    margin-bottom: 18px;
  }
  .list-text{
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Georgia';
    letter-spacing: 0.06em;
    line-height: 110%;
  }

  .donation{
    padding: 42px 10px 0 10px;
    height: 500.2px;
  }
  .donation-inner-content{
    width: calc(100vw - 20px);
    min-width: 320px;
  }
  .donation-heading{
    width: calc(100vw - 20px);
    min-width: 320px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
  }
  .donation-subheading{
    width: calc(100vw - 47px);
    min-width: 273px;
    letter-spacing: 0em;
    line-height: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .credit-card-container{
    width: calc(100vw - 39px);
    min-width: 281px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .credit-card-number{
    margin: 0;
    margin-top: 2px;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Georgia';
    letter-spacing: 0.06em;
    line-height: 110%;
  }
  .donation-info{
    width: calc(100vw - 40px);
    min-width: 280px;
    margin: 0 auto;
    text-align: justify;
    line-height: 18px;
    margin-bottom: 42px;
  }
  .donation-img{
    width: 260px;
    height: 135.2px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
  }

  .footer-container{
    grid-template-columns: 1fr;
  }
  .hidden-320, .hidden-768{
    display: none;
  }
  .pagination-container{
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    column-gap: 10px;
  }


  .footer-container{
    grid-template-columns: 1fr;
  }
  .footer-heading{
    width: calc(100% - 42px);
    font-size: 25px;
    text-align: center;
    margin-top: -9px;
    margin-left: 20px;
  }
  .footer-inner-container{
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer-contacts{
    width: calc(100% - 20px);
    margin: 0 auto;
    height: 208px;
  } 
  .footer-location{
    width: calc(100% - 20px);
    margin: 0 auto;
    margin-top: 40px;
    height: 222px;
  }
  .footer-loc-icon{
    margin-top: 5px;
    margin-left: -25px;
  }
  .footer-location-info{
    margin-top: 2px;
  }
  .footer-puppy{
    margin-top: 30px;
    margin-left: calc(30% - 64px);
    width: 260px;
  }


  .popup{
    width: 270px;
    height: 393px;
    left: calc(50% + 15px);
  }
  .popup-button{
    right: 0px;
  }
  .popup-card{
    width: 240px;
    height: 341px;
  }
  .popup-img{
    display: none;
  }
  .popup-content{
    margin: 10px;
  }
  .popup-title{
    text-align: center;
  }
  .popup-subtitle{
    text-align: center;
    margin-bottom: 20px;
  }
  .popup-description{
    text-align: justify;
  }
  .popup-stats{
    margin-top: 24px;
  }
  .popup-stat{
    margin-bottom: 5px;
  }
}
@media (max-width: 319px){
  html{
    overflow-x: scroll;
  }
}