:root{
  --color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20; 
	--footer-gradient-background: #211f20;
}


@font-face {
  font-family: 'Georgia', sans-serif;
  src: url('fonts/georgia/georgia-regular.ttf');

  font-family: 'Arial', sans-serif;
  src: url('fonts/arial/arial-regular.ttf');
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-width: 320px;
}
body {
  margin: 0 auto;
}

h2{
  margin: 0;
  font-weight: 400;
  font-family: 'Georgia';
  font-size: 44px;
  color: #FFFFFF;
  line-height: 130%;
}
h1, h3 {
  margin: 0;
  font-weight: 400;
  font-size: 35px;
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  line-height: 130%;
}
h4{
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  line-height: 115%;
}
h5{
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  line-height: 110%;
}
.p-l{
  margin: 0;
  line-height: 160%;
  font-size: 15px;
  font-family: 'Arial';
}
.p-s{
  margin: 0;
}
p{
  margin: 0;
}
a {
  cursor: pointer;
}
button{
  cursor: pointer;
  transition: background-color 0.2s;
}

.pets-main-button-link, .header-link, .header-main-title-link, .credit-card-number{
  text-decoration: none;
}
.header-main-title-link:hover .header-main-title{
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.1);
}

.blur{
  display: none;
  position: fixed;
  margin-top: -30px;
  width: 100vw;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  z-index: 1;
}

.header{
  width: 100%;
  height: 90px;
  margin-top: 30px;
}
.header-wrap{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-hamburger-button{
  width: 42px;
  display: none;
  margin-top: -8px;
  margin-right: 14px;
  color: none;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  transition: background-color 0.2s;
  z-index: 10;
}
.hamburger-icon{
  width: 30px;
  transform: rotate(0deg);
  transition: transform 0.75s;
}
.hamburger-line{
  width: 30px;
  content: "";
  margin-top: 8px;
  border-top: 2px solid var(--color-dark-3xl);
}

.header-hamburger-button:hover{
  background-color: rgba(225, 225, 225, 0.3);
}
.header-hamburger-img{
  display: none;
}
.header-title{
  text-align: left;
  align-items: center;
  margin-left: 40px;
}
.header-main-title{
  color: var(--color-dark-l);
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: 0.06em;
}
.header-subtitle{
  font-family: 'Arial';
  color: var(--color-dark-3xl);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 1px;
  -webkit-text-stroke: 0.7px #000;
}
.header-links{
  display: flex;
  margin-right: 40px;
  gap: 36px;
  align-items: center;
  z-index: 5;
}
.header-link{
  text-decoration: none;
  cursor: pointer;
  color: var(--color-dark-l);
  line-height: 160%;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Arial';
  transition: color 0.2s;
  margin-bottom: 5px;
}
.header-link:hover{
  color: var(--color-light-3xl);
}
#active-link{
  cursor: default;
  color: var(--color-light-3xl);
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
}

.main{
  width: 100%;
  background-color: var(--color-light-l);
  padding-top: 80px;
}
.wrap{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.main-content{
  width: calc(100% - 80px);
  margin-left: 40px;
  margin-right: 40px;
}
.main-heading{
  color: var(--color-dark-l);
  margin: 0 auto;
  text-align: center;
  width: 400px;
  margin-bottom: 45px;
}
.main-container{
  padding-top: 15px;
}
.card-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 40px;
  margin: 0 auto;
}

.card{
  background-color: var(--color-light-s);
  border-radius: 9px;
  width: 270px;
  height: 435px;
  margin: 0 auto;
}
.card:hover{
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: box-shadow 0.2s;
  cursor: pointer;
}
.card:hover .card-button{
  background-color: var(--color-primary-light);
  transition: background-color 0.2s;
}
.card-image{
  border-radius: 9px 9px 0 0;
  width: 270px;
  height: 270px;
}
.card-text{
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Georgia';
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
  color: var(--color-dark-l);
}
.card-button{
  border-radius: 100px;
  height: 52px;
  width: 187px;
  display: block;
  margin: 0 auto 30px auto;
  background-color: var(--color-light-xl);
  border: 2px solid var(--color-primary);

  color: var(--color-dark-3xl);
  font-size: 17px;
  font-weight: 400;
  font-family: 'Georgia';
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 130%;
}
.pagination-container{
  margin-top: 60px;
  height: 52px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.pagination-button{
  border-radius: 100px;
  height: 52px;
  width: 52px;
  background-color: var(--color-light-l);
  border: var(--color-primary) solid 2px;

  margin: 0;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Georgia';
  letter-spacing: 0.06em;
  line-height: 115%;
}

#disabled-button, #disabled-button-last{
  border: var(--color-dark-s) solid 2px;
  color: var(--color-dark-s);
  cursor: no-drop;
}
#active-button, #active-button-last{
  border-radius: 100px;
  height: 52px;
  width: 52px;
  background-color: var(--color-light-l);
  border: var(--color-primary) solid 2px;
}
#active-button:hover, #active-button-last:hover{
  cursor: pointer;
  background-color: var(--color-primary-light);
  border: none;
}
#main-button{
  border-radius: 100px;
  height: 52px;
  width: 52px;
  background-color: var(--color-primary);
  border: none;
}

footer{
  background: 
        url(imgs/noise_transparent@2x.svg),
        radial-gradient(100% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%),
        url(imgs/footer-background.svg);
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: 6%, auto, 100em;
  padding-top: 40px;
}
.footer-wrap{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
}
.footer-contacts{
  width: 280px;
  gap: 40px;
  margin-left: 40px;
} 
.footer-location{
  width: 302px;
  gap: 40px;
  margin-left: 52px;
}
.footer-heading{
  margin-top: 15px;
  margin-bottom: 40px;
  color: var(--color-light-xl);
}
.footer-inner-container{
  margin-top: 40px;
  display: flex;
}
.footer-icon{
  margin-right: 20px;
  height: 32px;
}
.footer-loc-icon{
  margin-top: -8px;
  margin-right: 20px;
  height: 32px;
}
.footer-info{
  color: var(--color-primary);
  margin-top: 5px;
  transition: color 0.2s;
}
.footer-location-info{
  margin-top: -5px;
  color: var(--color-primary);
}
.email-link, .phone-link,.location-link{
  text-decoration: none;
}
.email-link:hover h4, .phone-link:hover h4, .location-link:hover h4{
  color: var(--color-primary-light);
}
.footer-puppy{
  display: block;
  margin-left: auto;
  margin-right: 40px;
}


@media (max-width: 1279px){
  .header-title{
    margin-left: 30px;
  }
  .header-links{
    margin-right: 30px;
  }

  .card-container{
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 40px;
  }
  .main{
    padding-top: 80px;
  }
  .wrap{
    padding-bottom: 76px;
  }
  .main-content{
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
  }
  .main-heading{
    margin-bottom: 15px;
  }
  .card-container{
    width: calc(100% - 128px);
  }
  .card{
    border-radius: 9px;
    width: 270px;
  }
  .card-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .card-text{
    margin-top: 30px;
  }
  .pagination-container{
    margin-top: 40px;
  }
  .hidden-768{
    display: none;
  }
  .footer-container{
    grid-template-columns: 1fr 1fr;
  }
  .footer-contacts{
    margin-left: 63px;
    margin-top: -25px;
  } 
  .footer-location{
    margin-left: 20px;
    margin-top: -25px;
  }
  .footer-puppy{
    margin-top: 60px;
    margin-left: 61%;
  }
}
@media (max-width: 767px){
  
  .header-title{
    margin-left: 20px;
  }
  .header-hamburger-button{
    display: block;
  }
  .header-hamburger-img{
    display: block;
  }
  .header-hamburger-button:hover{
    display: block;
  }
  .header-links{
    height: 100vh;
    background: var(--color-light-l);
    position: fixed;
    flex-direction: column;
    width: 320px;
    right: 0;
    margin-top: -30px;
    margin-right: -320px;
    gap: 42px;
    align-items: center;
    padding-top: 248px;
    transition: margin-right 1s;
  }
  .header-link{
    font-family: 'Arial', 'Times New Roman', Times, serif;
    font-weight: 400;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 32px;
    line-height: 160%;
  }
  #active-link{
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
  }

  .main{
    padding-top: 42px;
  }
  .main-heading{
    width: 300px;
    margin-bottom: 42px;
    font-size: 25px;
  }
  .main-container{
    padding: 0;
    margin: 0;
  }
  .wrap{
    padding-bottom: 42px;
  }
  .main-content{
    width: calc(100vw - 20px);
    min-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .card-container{
    grid-template-columns: 1fr;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
  .card{
    border-radius: 9px;
    width: calc(100vw - 50px);
    min-width: 270px;
    margin-left: 0;
    margin-right: 0;
  }
  .card-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-container{
    grid-template-columns: 1fr;
  }
  .hidden-320, .hidden-768{
    display: none;
  }
  .pagination-container{
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    column-gap: 10px;
  }


  .footer-container{
    grid-template-columns: 1fr;
  }
  .footer-heading{
    width: calc(100% - 42px);
    font-size: 25px;
    text-align: center;
    margin-top: -9px;
    margin-left: 20px;
  }
  .footer-inner-container{
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer-contacts{
    width: calc(100% - 20px);
    margin: 0 auto;
    height: 208px;
  } 
  .footer-location{
    width: calc(100% - 20px);
    margin: 0 auto;
    margin-top: 40px;
    height: 222px;
  }
  .footer-loc-icon{
    margin-top: 5px;
    margin-left: -25px;
  }
  .footer-location-info{
    margin-top: 2px;
  }
  .footer-puppy{
    margin-top: 30px;
    margin-left: calc(30% - 64px);
    width: 260px;
  }
}
@media (max-width: 319px){
  html{
    overflow-x: scroll;
  }
}